name: Generate Fire Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: th3-v3ng34nc3
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#D90429&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353
      
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
